.mainchannelcont{
    height: 100vh;
    width: 100%;
    position: relative;
}
.upperinfos{
    height: 50%;
    width: 100%;
}
.coverimagecont{
    height: 65%;
    width: 100%;
}
.coverimagecont img{
    height: 100%;
    width: 100%;
}
.channelinfocont{
    height: 35%;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatarchannel{
    height: 100%;
    width: 10%;
}
.avatarchannel img{
    height:150px;
    width: 150px;
    border: 3px solid rgb(0, 0, 0);
    position: relative;
    top: -20%;
    left: 20%;
    border-radius: 50%;
}
.channeldatas{
    height: 100%;
    width: 85% ;
    display: flex;
    justify-content: space-between;
}
.metadata{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.metadata h3{
    margin: 0;
    padding: 0;
}
.editchannel{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tags  */
.componenttags{
    height:6vh ;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.componenttags button{
    height: 80%;
    width: 24%;
    border-radius: 0;
    background-color: transparent;
    border: none;
    outline: none;
}
.componenttags button:focus{
    border: none;
    outline: none;
}
.componenttags button:hover{
   border: none;
    outline: none; 
    background-color: rgb(255, 240, 240);
}

/* comps  */

.compschannel{
    height: max-content;
    width: 100%;
}