.dashboard{
    height: max-content;
    width: 100%;
    margin-bottom: 5vh;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    /* background-color: crimson; */
}

.editvideo{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}














/* main  */
.dashtext{
height: 20vh;
width: 100%;
display: flex;
flex-direction: column;
gap: 1vh;
}
.dashtext h1,h2,p{
    margin: 0;
    padding: 0;
    color: black;
}
.dashtext h1{
    margin-bottom:3vh ;
}

#dashinfos{
    height: max-content;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.box{
    height: 20vh;
    width: 30%;
    padding: 1vw;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
}
.box h1{
    margin: 0;
}


.dashboardwork{
    height: 10vh;
    width: 80%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.videostatus{
   height: 10vh;
    width: 80%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}
.imgg{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.operations{
    display: flex;
    gap: 1vw;
}