.sidebarmain{
    height: 90vh;
    width: 70px;
    position: fixed;
    /* top: 0; */
    left: 0;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: width 0.1s ease;
    z-index: 1000;
    background-color: white;
}



.sidebarmain:hover{
    width: 250px;
}

.slide1{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.slide2{
    height: 15%;
    width: 100%;
    position: relative;
    bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.slidelink{
    height: 10%;
    width: 85%;
    
    
}
.sidebarmain a{
    color: black;
}

.slides{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1.2rem;
}
.links{
    height: 100%;
    width: 50%;
display: none;
}
.sidebarmain:hover .links{
    display: inline;
width: 100%;

}


/* slide2  */

.slide2 .slidelink{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    
}
