.maineditprofile{
    height: 90vh;
    width: 100%;
    position: relative;
}
.editupperinfos{
    height: 50%;
    width: 100%;
}
.editcoverimagecont{
    height: 65%;
    width: 100%;
    display: flex;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: center;

}

.editchannelinfocont{
    height: 35%;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editavatarchannel{
    height:150px;
    width: 150px;
    border: 3px solid rgb(0, 0, 0);
    position: relative;
    top: -15%;
    left: 2%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#avatarlabel{
 display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #08e6f5;
  color: black;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
}

#coverimagelabel{
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color:transparent;
  color: black;
  border-radius: 6px;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;  
}

#inputcoverimage{
    opacity: 0;        
  width: 0.1px;      
  height: 0.1px;    
  position: absolute; 
  z-index: -1;   
}

#avatarlabel{
 display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border-radius: 6px;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}
#avatarinput{
     opacity: 0;        
  width: 0.1px;      
  height: 0.1px;    
  position: absolute; 
  z-index: -1; 
}


.editavatarchannel img{
    height:150px;
    width: 150px;
    position: relative;
    
    border-radius: 50%;
}
.editchanneldatas{
    height: 100%;
    width: 85% ;
    display: flex;
    justify-content: space-between;
}
.editmetadata{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.editmetadata h3{
    margin: 0;
    padding: 0;
}
.viewchannel{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tags  */
.editcomponenttags{
    height:6vh ;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editcomponenttags button{
    height: 80%;
    width: 50%;
    border-radius: 0;
    background-color: transparent;
    border: none;
    outline: none;
}
.editcomponenttags button:focus{
    border: none;
    outline: none;
}
.editcomponenttags button:hover{
   border: none;
    outline: none; 
    background-color: rgb(255, 240, 240);
}

/* comps  */

.editcompschannel{
    height: 40%;
    width: 100%;
}