.passchangemain{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.passtext{
    height: 100%;
    width: 35%;
}
.passchangeform{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
}
#passinfoform{
    height: 95%;
    width: 90%;
    padding: 1%;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#passinfoform input{
    height: 8%;
    width: 90%;
    padding: 1%;
    font-size: 1.2rem;
    color: black;
    border-radius: 14px;
    background-color: transparent;
}
#passinfoform input::placeholder{
    color: black;
}
#passinfoform label{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    align-self: flex-start;
}


.passbuttonsave{
    height: 15%;
    width: 100%;
    padding-right: 2%;
    border-top: 2px solid #000;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}