body{
    margin: 0;
    padding: 0;
}

.playercont{
    height:max-content;
    width: 100%;
    position: relative;
    inset: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.plyleft{
    height:max-content;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* allboutvidoe */


#videoplay{
    height: 60vh;
    width: 98%;
    margin-bottom: 5%;
}
#videoinfos{
    height: max-content;
    width: 98%;
    padding-top: 2vh;
    padding-bottom: 1vh;
    margin-bottom: 5%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    border: 1px solid rgb(0, 0, 0);
}
.tittleandlike{
    height: max-content;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#titles{
    height: 100%;
    width: 70%;
    margin-bottom: 2%;
    padding-left: 1%;
}
#titles h2,p{
    margin: 0;
    padding: 0;
    text-align: left;
}
#likesave{
    height: 100%;
    width: 30%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.likeee{
    width: 100px;
    border-radius: 8px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
}
#likebutton:focus{
    border: none;
    outline: none;
}
#chnnlsub{
    height: 20%;
    width: 96%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.addply{
    height: max-content;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plyform{
    height: max-content;
    width: 220px;
    position: absolute;
    top: 600px;    
    left: 50%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;        
}
#avatar{
    height: 100%;
    width:30%;
    display: flex;
    gap: 4%;
}
#avatar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
#chnnlname{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
#subbtn{
    height: 100%;
    width: 15%;
    justify-self:flex-end;
}
#des{
    height: 20%;
    width: 96%;
    margin-bottom: 2%;
    border-top: 2px solid black;
}
#commentvideo{
    height:max-content;
    width: 98%;
}


 /* allvdieo */
.plyright{
    height: max-content;
    width: 28%;
}
.sidevideos{
   height:300px;
    width: 400px;
    margin-bottom: 5%;
    border: 2px solid black;
    border-radius: 14px;
    display: flex;
    align-items: center;
}